"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ae6059c7-fdf4-401f-989b-f6954521c505"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    invisibles:
      cr: "↩"
      tab: "⇥"
    showIndentGuide: true
    showInvisibles: false
    tabLength: 2
  "exception-reporting":
    userId: "ce3eaeef-bd6f-efd2-ac59-a638eb7ab826"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "ide-haskell": {}
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-distraction-free-mode": {}
    "nuclide-home":
      showHome: false
  "tabs-to-spaces":
    onSave: "untabify"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
