"*":
  core: {}
  editor:
    fontSize: 13
    invisibles:
      cr: "↩"
      tab: "⇥"
    showIndentGuide: true
    showInvisibles: false
    tabLength: 2
  "exception-reporting":
    userId: "ce3eaeef-bd6f-efd2-ac59-a638eb7ab826"
  "ide-haskell": {}
  "tabs-to-spaces":
    onSave: "untabify"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
